.feedback_link {
  background: #eee none repeat scroll 0 0;
  margin: 0 -22px 0 0;
  padding: 3px 10px 10px;
  position: fixed;
  right: 0;
  bottom: 35%;
  transform: rotate(270deg);
}
.feedback_link a {
  color: #000;
}
.feedback_link .ajax-progress-throbber .throbber {
  padding: 0 5px 0 !important;
}
.feedback_link .ajax-progress {
  padding: 11px 0 0 0 !important;
}
/*feedback table*/

#pr-fb-table tbody tr td:nth-last-child(1) a,
#op-fb-table tbody tr td:nth-last-child(1) a {
  padding: 0 4px;
}
#op-fb-table thead tr th:nth-child(1),
#op-fb-table tbody tr td:nth-child(1) {
  width: 13%;
}
#op-fb-table thead tr th:nth-child(2),
#op-fb-table tbody tr td:nth-child(2) {
  width: 12%;
}
#op-fb-table thead tr th:nth-child(3),
#op-fb-table tbody tr td:nth-child(3) {
  width: 26%;
}
#op-fb-table thead tr th:nth-child(4),
#op-fb-table tbody tr td:nth-child(4) {
  width: 39%;
}
#op-fb-table thead tr th:nth-child(5),
#op-fb-table tbody tr td:nth-child(5) {
  width: 10%;
}
#pr-fb-table thead tr th:nth-child(1),
#pr-fb-table tbody tr td:nth-child(1) {
  width: 13%;
}
#pr-fb-table thead tr th:nth-child(2),
#pr-fb-table tbody tr td:nth-child(2) {
  width: 12%;
}
#pr-fb-table thead tr th:nth-child(3),
#pr-fb-table tbody tr td:nth-child(3) {
  width: 26%;
}
#pr-fb-table thead tr th:nth-child(4),
#pr-fb-table tbody tr td:nth-child(4) {
  width: 39%;
}
#pr-fb-table thead tr th:nth-child(5),
#pr-fb-table tbody tr td:nth-child(5) {
  width: 10%;
}
