@charset "utf-8";
/* CSS Document */

/* Header */

/* Small screens */
@media screen and (max-width: 480px) {
    /*-- Footer --*/
    #footer #footer-nav {
        display: list-item;
    }
    #footer #footer-nav li a {
        display: list-item;
        padding: 0.5em 0;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    #app-info {
        float: right;
        position: absolute;
        left: 200px;
        top: 0;
    }
}

@media screen and (max-width: 768px) {
    H1.app-name {
        font-size: 1.1em;
    }
    #header-right {
        margin: 0 0 5px;
    }
}

/* Larger screens */
@media screen and (min-width: 480px) {
    /* Footer */
    #footer #footer-nav {
        clear: right;
        width: auto;
        z-index: 10;
        padding: 0;
        display: inline;
    }
    #footer #footer-nav li a {
        display: block;
        float: left;
    }
}

@media screen and (min-width: 768px) {
    #header-right {
        padding-top: 22px;
    }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
    /* Universal */
    H1.app-name {
        font-size: 1.05em;
    }
    .breadcrumbs {
        padding: 0;
    }
}

@media screen and (min-width: 960px) {
    /* Universal */
    H1.app-name {
        font-size: 1.3em;
    }
    .header {
        margin: 0 auto;
        width: 100%;
    }
    .heading {
        margin-left: 15px;
    }
    .ga-header .navbar-nav > li {
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 10px;
        padding-right: 10px;
    }
    #ga-footer-rights {
        padding-bottom: 100px;

    }
}

/* Universal */
H1.app-name {
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0.9em;
    color: #006983;
}

a {
    cursor: pointer;
}

/* Header */
.header {
    margin: 0 auto;
    width: 100%;
}

.ga-header .navbar-nav > li a {
    color: #006983;
    font-weight: bold;
}

.ga-header .navbar-nav > li a:hover {
    color: #a33f1f;
}

#logo {
    padding-left: 0;
    margin-left: 0;
}

img.logo {
    height: 90px;
}

img.logo-stacked {
    width: 150px;
}

.logo-container-stacked {
    width: 150px;
}

/* Breadcrumbs */
.breadcrumbs {
    font-size: 0.9em;
    list-style: none outside none;
    z-index: 10;
    padding: 0;
    display: inline;
}

.breadcrumbsContainer {
    position: absolute;
    width: 100%;
    margin-left: 184px;
}

.breadcrumbs li a,.breadcrumbs li.last {
    float: left;
    padding-right: 0;
    background: url(images/vertical-breadcrumb.gif) no-repeat right;
}

.breadcrumbs li a {
    color: #006983;
    padding: 0 10px;
}

.breadcrumbs li.first a {
    padding-left: 0;
    padding-right: 10px;
}

.breadcrumbs li.last,.breadcrumbs li.last a {
    background: none;
    color: #5e6a71;
}

/* Quick links */
#quick-links button {
    margin-top: 19px;
    padding-right: 20px;
    float: right;
}

.advanced a {
    float: left;
    font-size: 0.8em;
    font-weight: bold;
    color: #5e6a71;
    display: block;
    margin: 3px 0 0 1px;
}

#help {
    float: left;
}

#help img {
    width: 80%;
    padding-top: 2px;
}

.applicationTitle {
    margin-left: 150px;
    color: black;
}
.appTitle {
    font-weight: bold;
    position: absolute;
    top: 0;
    margin-top: -10px;
    margin-left: 160px;
    font-size: medium;
}

.navbar.navbar-inverse {
    background-color: #72c7e7;
}
.navbar, .navbar.navbar-default {
    background-color: white;
    height: 89px;
}
.navbar-default .navbar-nav li button {
    background: none;
    border: none;
    margin-top: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.navbar-default .navbar-nav li a {
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-default {
    min-height: 70px;
    border-color: #fff;
}

.navbar-default .navbar-toggle {
    margin-top: 18px;
    margin-bottom: 17px;
    z-index: 1;
}

.navbar-right {
    margin-right: 0px;
}

/* Strap */
.strap-blue,.strap-white,.strap-red {
    height: 8px;
    margin-bottom: 3px;
}

.strap-blue {
    background-color: #72c7e7;
    width: 88%;
    float: left;
}

.strap-white {
    background-color: #fff;
    width: 3px;
    float: left;
}

.strap-red {
    background-color: #a33f1f;
}

.strap-container {
    height:5px;
    margin-top: -5px;
}

.strap-container > div {
    padding: 0;
}

.cartAnchorBtn > button,
.cartAnchorBtn .btn.btn-primary:focus {
    background-color: #006983;
    border-radius: 30px;
    margin-top: -45px;
    outline: none;
}
.cartAnchorBtn .btn-primary:active,
.cartAnchorBtn .btn-primary:hover {
    background-color: #A33F1F;
    border-color: #A33F1F;
    color:white;
}
.cartAnchorBtn .badge {
    color: #28597a;
    background-color: #fff;
}

/* end Header*/

/* Footer */
#footer {
    background-color: #2f2f2f;
    color: #fff;
    padding: 0.5em 0;
}

#footer #footer-nav {
    list-style: none outside none;
}

#footer #footer-nav li a {
    padding: 3px 2em 3px 1em;
}

#footer #footer-nav li a:link,#footer #footer-nav li a:visited {
    color: #fff;
}

/* end Footer */

/* Responsive footer*/
.ga-footer {
    min-height: 42px;
    background-color: #2F2F2F;
    border-color: #2F2F2F;
    border-radius: 0;
    color: #e7e7e7;
    margin-top: 10px;
    font-size: 12px;
}

.ga-footer .navbar-collapse,.ga-footer .navbar-form {
    border-color: #494949;
}

.ga-footer .nav>li>a {
    color: #FFFFFF;
}

.ga-footer .nav>li>a:hover,.ga-footer .nav>li>a:focus {
    text-decoration: underline;
}

.ga-footer ul.nav {
    padding-top: 3px;
    padding-bottom: 3px;
}

.ga-footer .nav>li>a:hover {
    background-color: #2F2F2F;
}
.ga-footer .nav>li>a {
    padding-top: 0px;
    padding-bottom: 0px;
}

#ga-footer-rights {
    background-color: #2F2F2F;
    font-size: 12px;
}
#ga-footer-rights > ul {
    list-style-type: none;
    text-align: center;
}
#ga-footer-rights ul li {
    display: inline;
}
#ga-footer-rights ul li a {
    padding: .2em 1em;
    color: #fff;
}
#ga-footer-rights ul li a:hover {
    color: #fff;
}
#ga-footer-rights .navbar-nav > li > a, .navbar-fixed-bottom {
    padding-top:5px !important;
    padding-bottom: 5px !important;
    height: 10px;
}

@media screen and (max-width: 768px) {
    .ga-footer-sm li a,
    .ga-footer-sm {
        background-color: #2F2F2F;
        color: white;
        margin-bottom: -120px;
    }
    #ga-footer-rights ul li {
        display: compact;
    }
    #ga-footer-rights .navbar-nav > li > a, .navbar-fixed-bottom {
        padding-top:5px !important;
        padding-bottom: 20px !important;
        height: 30px;
    }
    .cartAnchorBtn {
        position: absolute;
        margin-top: 20px;
        padding: 5px 5px;
    }
}
