﻿/*.ga_loadingScreen
{
    padding:0;
    margin:0;
    position:relative;
    top:0; left:0;
    width:100%; height:100%;
    z-index:5000;
    vertical-align:middle;
    background-color:white;
    background-image:url(../images/ga_logo_slogan.gif);background-repeat:no-repeat;background-position:center;
    overflow:hidden;
}*/
/**
 * front page
 */
.modal-backdrop.in
{
    display: none;
}
#views_slideshow_cycle_teaser_section_slideshow-block_1
{
    margin-left: auto;
    margin-right: auto;
}
.navbar > .container
{
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}
.navbar-header
{
    width: 80%;
}
.navbar-header > .region-navigation > .applicationTitle
{
    margin-left: 30%;
}
.strap-container
{
    width: 60%;
    height: 30px !important;
    margin: auto;
}
.strap-container > div > div
{
    height: 18px !important;
}
.ga-frontpage
{
/*    padding-top: 30px;
    margin-right: 20%;
    margin-left: 20%; */
}
/**
 * Header
 */
.navbar-header
{
    margin: 0 11% !important;
    height: 85px;
}
.navbar-header .region-navigation
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: stretch;
}
.applicationTitle
{
    margin-left: 0% !important;
}
.navbar-default
{
    /*left: 11%;
    width: 78%;*/
}
#superfish-main > li > a
{
    background: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
}

#superfish-main
{
    position: absolute;
    right: 15%;
    top: 62px;
    /*left: 268px;*/
    /*top: 52px;
    right: 0px;*/
}
.sf-depth-1
{
    background: rgba(255, 255, 255, 0) !important;
    background-color: rgba(255, 255, 255, 0) !important;
}

/**
 * Front page slideshow
 */
.views_slideshow_pager_field
{
    width: 100%;
    height: 100%;
    position: relative;
    top: -75px;
    z-index: 10;
}
.slideshow-bg {
    color: #FFF;
    position: absolute;
    margin: 180px 0px;
    background: rgba(0,0,0,0.7);
    padding: 20px;
    width: 500px;
}
/*.slideshow-alpha-bg
{
    background: rgba(0, 0, 0, 0.7);
    bottom: 140px;
    padding: 50px;
    padding-right: 500px;
    position: absolute;
}*/
.views_slideshow_cycle_slide > .views-row > div
{
    /*color: white;*/
    width: 100%;
}
.views_slideshow_cycle_slide > .views-row > div > span > .slideshow-bg > .title > a
{
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    /*background: rgb(0, 0, 0); /* fallback color */
    /*background: rgba(0, 0, 0, 0.7);*/
    /*padding: 10px;*/
    color: #fff;
    bottom: 190px;
    /*left: 10px;
    position: absolute;*/
}
.views_slideshow_cycle_slide > .views-row > .views-field-field-alternate-title > .field-content
{
    /*background: rgb(0, 0, 0); /* fallback color */
    /*background: rgba(0, 0, 0, 0.7);*/
    padding: 10px; 
    bottom: 160px; 
    padding: 10px;
    bottom: 160px;
    left: 10px;
    position: absolute;
}
.views_slideshow_cycle_slide > .views-row > .views-field-changed > .field-content
{
    /*background: rgb(0, 0, 0); /* fallback color */
    /*background: rgba(0, 0, 0, 0.7);*/
    padding: 10px; 
    bottom: 140px; 
    padding: 10px;
    bottom: 140px;
    left: 10px;
    position: absolute;
}
#views_slideshow_cycle_teaser_section_slideshow-block_1 {
 width: 1300px;
}
/**
 * front page searchbar
 */
.main-container
{
    position: relative;
    z-index: 5;
}
.main-container-slideshow
{
    top: -80px;
    /*top: -34px;*/
}
.searchBoxInputContainer
{
    margin: auto;
}
/**
 * Front page icon links
 */
.link-icons > .front-page-icons > .grid-icon 
.link-icons > .front-page-icons > .grid-icon
{
    padding-top: 45px;
    padding-bottom: 45px;
}
.link-icons > .front-page-icons > .grid-icon > a
{
    text-decoration: none;
}

.link-icons > .front-page-icons > .grid-icon > a > .link-icon
{
    background-color: #006982;
    padding: 5px;
    border-radius: 26px;
    margin-left: 20%;
    margin-right: 20%;
}
.link-icons > .front-page-icons > .grid-icon > a > .link-icon > .glyphicon
{
    content: ""!important;
    font-size: 72px;
    display: block;
    text-align: center;
    margin: 10px auto 20px auto;
    color: #fff;
}
.link-icons > .front-page-icons > .grid-icon > a > .link-icon > .glyphicon-text
{
    color: white;
    display: block;
    font-size: 22px;
    text-align: center;
}
.ga-frontpage .links
{
    display: none;
}
.view-frontpage .feed-icons
{
    display: none;
}
/**
 * Front page Split
 */
.content-col-split
{
    margin-top: 15px;
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #006982;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch;
}
.content-news
{
    border-right-style: solid;
    border-color: #006982;
}
.content-news .view-content .views-field-field-story
{
    line-height: 20px;
}
.content-feedback
{
    border-left-style: solid;
    border-color: #006982;
}
.content-col-split h2
{
    color: #006982;
}
#block-webform
{
    padding: 5px;
}
#block-webform .control-label
{
    width: 100%;
}
#block-webform .fieldset-legend
{
    margin: 0px;
    font-weight: bold;
    border-bottom: 0px;
    line-height: 1.428571;
    font-size: 14px;
}
#block-webform .fieldgroup > legend
{
    border-bottom: 0px;
    margin: 0px;

}
#block-webform #edit-submit
{
    color: white;
    background-color: #006982;
}
#feedback-hr
{
    color: #72c7e7;
    width: 60%;
    border-color: #72c7e7;
    background-color: #72c7e7;
}
.content-news .views-field-field-large-thumbnail
{
    position: relative;
    width: 30%;
    float: left;
    margin-right: 7px;
}
.content-news .views-field-title
{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 33px;
    line-height: 1.0;
    font-weight: bold;
    color: #333;
}
.content-news .views-field-title a
{
    color: #006982;
    text-decoration: none;
}
.content-news .views-field-created
{
    font-style: italic;
    color: #41454678;
}
.content-news .item-list li
{
    list-style: none;
    padding-bottom: 5px;
}

/**
 *  Content side bar
 */
/*.region-sidebar-first
{
    position: fixed;
    width: 17%;
    height: 500px;
}*/
.region-sidebar-first {
    width: 240px;
}
.region-sidebar-first h2
{
    color: #006982;
}
.region-sidebar-first h3
{
    font-size: 20px;
    margin-top: 10px;
    color: #006983;
}
.block-views-blockrest-links-block-1
{
    overflow-wrap: break-word;
    padding-right: 35px;
}
.region-sidebar-first  .block-views-blockrest-links-block-1 .views-field-nid
{
    padding-left: 1%;
    color: #a33f1f;
}
/**
 * Content Region
 */
.region-content
{
    /*padding-top: 30px;*/
    padding-left: 45px;

}
.main-content-no-sidebar > .region-content
{
    padding-left: 0px;
}
.main-content-no-sidebar
{
    margin-right: 20%;
    margin-left: 20%;
}
/**
 * ----------------------------------------------------------------------webforms
 * Workflow wizard
 */
.webform-submission-workflow-prototype-form .webform-progress-tracker .is-complete::after
{
    background-color: #a33f1f !important;
}
.webform-submission-workflow-prototype-form .webform-progress-tracker .is-complete .progress-marker
{
    background-color: #006983;
}
.webform-submission-workflow-prototype-form .webform-progress-tracker .is-active::after
{
    background-color: #a33f1f4f;
}
.webform-submission-workflow-prototype-form .webform-progress-tracker .is-active .progress-marker
{
    background-color: #72c7e7;
}
.webform-submission-workflow-prototype-form .webform-progress-tracker .progress-step::after
{
    background-color: #a33f1f4f;
}
.hide--fieldset--border
{
    border: 0px !important;
    box-shadow: 0px 0px 0px;
}
.hide--fieldset--border h3
{
    margin-top: 0px;
    text-align: center;
    color: #006983;
}
.webform-submission-workflow-prototype-form hr
{
    border: 2px;
    border-style: solid;
    color: #006983;
    border-radius: 2px;
    margin: 0px;
}
.webform-submission-workflow-prototype-form .webform-progress__summary
{
    display: none;
}
.hide--fieldset--border hr
{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(175, 72, 39, 0), rgba(175, 72, 39, 1), rgba(175, 72, 39, 0));
}
.hide--fieldset--border strong
{
    color: #006983;
}
.hide--fieldset--border .webform-flex--container
{
    /*margin: 0 0em;*/
}
.workflow-wizard-col-1
{
    /*border-right: 0px !important;
    border-right-color: #006983 !important;
    border-right-width: medium !important;
    border-right-style: solid !important;*/
}
.workflow-wizard-col-2
{
    /*border: 0px !important;
    border-left: 2px !important;
    border-left-color: #006983 !important;
    border-left-width: medium !important;
    border-style: solid !important;*/
}

/**
 * workflow form view 
 */
.workflow-paragraph-form > .panel-heading
{
    display: none;
}

.workflow-paragraph-form .paragraph-type-top
{
    display: none;
}

.workflow-paragraph-form strong
{
    display: none;
}

.workflow-paragraph-form > .panel-body > .field--widget-entity-reference-paragraphs .js-form-wrapper > strong
{
    display: none;
}

/* very dangerous select, if things disappear from workflow forms, this is most likely to blame */
.workflow-paragraph-form > .panel-body > .field--widget-entity-reference-paragraphs > div > .js-form-wrapper > .form-group
{
    display: none;
}

.workflow_state_image
{
    width: 100%
}

.workflow-wizard-form .content
{
    padding: 15px 15px;
}

.workflow-wizard-form .revision-view
{
    padding: 15px 15px;
}

.workflow-wizard-form h3
{
    font-weight: bold;
    color: #006983;
}

.workflow-wizard-form h2
{
    margin: auto;
    width: 15%;
    font-weight: bold;
}

.workflow-wizard-form .panel
{
    border: 0;
}
/**
 * progress tracker
 **/
.progress-step.is-active .progress-marker::before
{
    background-color: #006983;
}

.ga-tooltip 
{
    position: relative;
    display: inline-block;
    top: 15px;
    font-weight: bold;
}

.ga-tooltip .ga-tooltiptext
{
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
    visibility: hidden;
    width: 420px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -62px;
    left: 110%;
}
.ga-tooltip .ga-tooltiptext::after 
{
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
}

.ga-tooltip:hover .ga-tooltiptext 
{
    visibility: visible;
}

.workflow-wizard-header
{
    height: 100%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
}
.wprkflow-wizard-header h1 
{
    width: 100%
}
/**
 * ----------------------------------------------------------------------Pages
 */
#edit-openid-connect-client-microsoft-login
{
    padding: 6px 12px;
}
/**
 * ******entityConnect
 */
.entityconnect-add > button, .entityconnect-add > button:hover
{
    color: #006983;
}
.ga-ec-big-text
{
    font-size: 150%;
}
/**
 * ----------------------------------------------------------------------Views
 */
/**
 * ******Project List
 */
.view-project-list h2 a
{
    color: #006983;
}
.view-project-list footer .author
{
    display: none;
}
.view-project-list article .content
{
    padding-left: 15px;
}
.view-project-list article .content .field--name-field-case-studies .field__items
{
    padding-left: 19px;
}
.view-project-list article .content .field--name-field-products-used .field--item
{
    display: list-item;
    color: #a33f1f;
    list-style-type: disc;
    margin-left: 20px;
}
/**
 * ******case study item display
 */
.project-case-study .field--label-above
{
    padding-top: 10px;
} 
.project-case-study .panel
{
    margin-top: 20px;
}
.project-case-study .panel .field--name-field-key-messages
{
    margin-left: 2%;
}
.project-case-study .panel .field--name-field-supporting-quote
{
    margin-left: 2%;
}
/**
 * ******Glossary view
 */
.view-glossary-tree-view ul > li
{
    list-style-type: none;
}
.view-glossary-tree-view summary
{
    font-size: 16px;
    color: #006983;
    font-weight: bold;
}
.view-glossary-tree-view th
{
    border-style: none;
   /* color: #006983;*/
    font-weight: normal;
    font-size: 12px;
}
.view-glossary-tree-view th ul > li
{
    list-style-type: disc;
}
/**
 * ******lineage view
 */
.view-lineage-view h1
{
    padding: 30px 0;
}
.view-lineage-view h2 a
{
    font-size: 14px;
    color: #006983;
}
.view-lineage-view .field--name-field-product-type h2 a
{
    line-height: 1.1;
}
.view-lineage-view .author
{
    display: none;
}
.view-lineage-view h2
{
    margin: 0px;
    height: 31px;
    display: contents;
    line-height: 0.1;
}
.view-lineage-view .content
{
    padding-left: 25px;
}
.view-lineage-view footer article
{
    display: none;
}
.view-lineage-view .is-unpublished
{
    border-style: solid;
    border-color: #a33f1f;
    border-width: 2px;
    background-color: white;
}
.view-lineage-view .is-unpublished h5
{
    width: 85px;
    margin-top: -9px;
    margin-left: 84%;
    background: white;
    color: #a33f1f;
    font-weight: bold;
    margin-bottom: 0px;
}
/**
 * ******Product stage
 */
.ga-ps-green
{
    background-color:  #b3ff99;
}

.ga-ps-yellow
{
    background-color: #ffff80;
}

.ga-ps-orange
{
    background-color: #ffb84d;
}

.ga-ps-red
{
    background-color: #ff4d4d;
}
/* edit */

/**
 * contacts
 */
.view-contacts .views-row
{
    padding-bottom: 15px;
}
.filter-wrapper
{
/*   display: none;*/
}

.form-item > .control-label > div
{
/*   display: none; */
}
/**
 * General cases
 */
td, th
{
   padding: 10px !important;
}
ul > li
{
   list-style-type: disc;
}

.ga-pd .views-field-nothing img
{
   display: block;
   margin: auto;
   margin-top: 80px;
   margin-bottom: 140px;
}

.ga-pd h1
{
   text-align: center;
   font-weight: bold;
}

.ga-pd h2
{
   text-align: center;
   font-size: 24px;
}

.ga-pd .views-field-nothing-1 h1
{
   margin-bottom: 70px;
}

.ga-pd h3
{
   font-weight: bold;
}

.ga-pd h4
{
   font-weight: bold; 
}

.ga-pd table, tr 
{
   padding: 5px;
}

.ga-pd-tbl-4 .cols-1 > tbody > tr > th
{
   width: 10%;
}

.ga-pd ol > hr
{
   display: none;
}

.ga-pd ul > li
{
  /* display: block;*/
   list-style-type:square;
   margin: auto;
}

.ga-pd h1
{
   text-align: center;
   font-weight: bold;
}

.ga-pd h2
{
   text-align: center;
   font-size: 24px;
}

.ga-pd .views-field-nothing-1 h1
{
   margin-bottom: 70px;
}

.ga-pd h3
{
   font-weight: bold; 
   font-weight: bold;
}

.ga-pd h4
{
   font-weight: bold;
}

.ga-pd table, tr
{
   padding: 5px;
}

.ga-pd-tbl-4 .cols-1 > tbody > tr > th
{
   width: 10%;
}

.ga-pd ol > hr
{
   display: none;
}

.ga-pd ul > li
{
   line-height: 15px;
}

.ga-pd ul > hr
{
   margin-top: 10px;
   margin-bottom: 10px;
}

.ga-pmp-base li
{
   line-height: 1.2;
}

.ga-pmp-base table
{
   border-collapse: collapse;
   border-spacing: 20px;
   line-height: 1;
   margin-top: 20px;
   width: 100%;
}

.ga-pmp-base table, th, td
{
   border-collapse: collapse;
   border: 1px solid black;
   line-height: 1;
}

.ga-pmp-base th, td
{
   padding: 8px;
}

.ga-pmp-base th, thead
{
   vertical-align: top;
}

#view-field-documents-table-column, #view-nothing-table-column--2
{
   vertical-align: middle;
   border: 1px solid black;
   background-color: #fff;
}

.ga-pmp-list li
{
   list-style-type: disc;
}

.ga-pmp-h2
{
   color:#00b050 !important;

}

.ga-pmp-schedule .table > thead > tr > th
{
   padding: 8px;
}

.ga-pmp-schedule .table-responsive
{
   overflow-x: hidden;
}

.ga-pmp-schedule table.table
{
   margin-bottom: 0px;
   margin-top: 0px;
}

/*product type*/
.ga-pmp-schedule .table > tbody > tr .views-field-nothing-1
{
   width: 10%;
}

/*product catalogue number*/
.ga-pmp-schedule .table > tbody > tr .views-field-nothing
{
   width: 15%;
}

.view-id-duplicate_of_project_management_plan_table_4 th
{
   display: none;
}

.view-project-management-plan-table- th
{
   display: none;
}

.label-pd
{
   /*color:green !important;*/
}

.node-product-form .control-label > .description
{
/*   display: none; */
}

.ga-label-field-mappings
{
    /*color:red !important;*/
}

.ga-mapping-tbl
{
/*   background-color: rgba(255, 250, 230, 0.9);*/
   margin: 8px;
   padding: 10px;
   border-style: solid;
   border-width: 3px;
   border-color: #006983;
   color: #a33f1f;
   font-weight: bold;
}

.ga-mapping-th
{
   padding: 10px;
   font-weight: bold;
}

.ga_frontMessage
{
    padding:0;
    margin:0;
    position:absolute;
    top:20px; left:20px;
    z-index:2500;
    background-color:transparent;
    overflow:hidden;
}

.ga_headerPane
{
    position:relative;
    width:100%;
    height:52px;
    border: solid 0px;
    background-color:black;
    overflow:hidden;
}

.ga_headerPane img
{
    border:0px;
}

.ga_maplinksHeaderPos
{
    position:absolute;
    top:0px;
    right:35px;
    height:52px;
    background-color: green !important;
}

.ga_maplinksFunctionPos
{
    float:right;
    height:80px;
    line-height:30px;
    background-color: green !important;
}

.ga_maplinks
{
    cursor:pointer;
    padding:0px;
    padding-left:10px;
    padding-right:10px;
    height:100%;
    z-index:2000;
    color:white;
    font-size:15px;
    font-weight:bold;
    border-left:1px solid #2d3130;
    border-right:1px solid #2d3130;
    display:table;
}

.ga_maplinks div
{
    display:table-cell;
    vertical-align:bottom;
    padding-bottom:3px;
}

.ga_maplinks:hover
{
    background-color: black;
}

.ga_headerPane .ga_maplinks img
{
    margin-left:3px;
}

.ga_maplinkPaneHeaderPos
{
    position:absolute;
    top:0px;
    right:35px;
}

.ga_maplinkPaneFunctionPos
{
    position:absolute;
    top:0px;
    right:5px;
}

.ga_maplinkPane
{
    display:none;
}

.ga_maplinkPane_on
{
    cursor:pointer;
    width:300px;
    padding:5px;
    z-index:2000;
    color:#aaaaaa;
    font-size:14px;
    font-weight:normal;
    background-color: #1a1a1a;
    border:1px solid #aaaaaa;
}

.ga_mapLinkButton
{
    padding:3px;
    padding-top:5px;
    padding-bottom:5px;
    border-bottom:0px solid white;
}

.ga_mapLinkButton img
{
    margin-bottom:3px;
}

.ga_mapLinkLastButton
{
    border-bottom:0px solid white;
}

.ga_headerPane .ga_helpbutton
{
    position:absolute;
    top:25px;
    right:3px;
    cursor:pointer;
    z-index:2000;
}

/*.ga_headerPane .ga_themetitle
{
    position:absolute;
    bottom:0px;
    left:180px;
    right:0px;
    padding:2px;
    padding-left:10px;
    font-size:20px;font-style:normal;line-height:normal;font-weight:normal;color:#ffffff;
    text-align:left;
    z-index:1000;
    background-image:url(../images/black_60.png);background-repeat:repeat;
}*/

.ga_headerPane .ga_topoheaderlink
{
    position:absolute;
    top:5px;
    left:180px;
    padding:0px;
    padding-left:10px;
    z-index:1000;
}

.ga_headerPane .ga_topoheaderlink a
{
    font-size:11px;
    font-style:normal;
    line-height:normal;
    font-weight:normal;
    color:white;
    text-align:left;
    text-decoration: underline;
}

/*
.ga_minithemetitle
{
    position:absolute;
    top:5px;
    left:5px;
    z-index:1000;
    color:white;
    padding:2px;
    background-image:url(../images/black_30.png);background-repeat:repeat;
}
*/

.ga_functionPane
{
    position:relative;
    background-color:transparent;
    top:5px;
    left:5px;
    margin-right:10px;
    height:38px;
    background-color:#1a1a1a;
    overflow:hidden;
}

.ga_sidePane
{
    position:absolute;
    top:0px;
    background-color:white;
    overflow:auto;
}

.ga_mapPos
{
    position:relative;
    top:0px;
    left:0px;
    right:0px;
}

.ga_mapStyle
{
    margin-left:5px;
    margin-right:5px;
}

#sideMiniWindows
{
    position:absolute;
    z-index:1000;
    top:0px;
    left:0px;
    width:30%;
    background-color:transparent;
    overflow:visible;
    /*border:1px solid purple;*/
}

#layerWindow
{
    position:absolute;
    z-index:2000;
    top:0px;
    bottom:auto;
    left:auto;
    right: 40px;
    width:220px;
    background-color:transparent;
    overflow:visible;
    /*border:1px solid red;*/
}

#layerDivContent
{
    position:relative;
    margin-top:5px;
    margin-bottom:5px;
}

#footerPane
{
    position:relative;
    margin-top:5px;
    background-color:transparent;
    border: solid 0px;
    height: 70px;
    overflow:hidden;
}

/*#messageWindow
{
    position:absolute;
    top:3px;
    left:30%;
    width:15%;
    z-index:1000;
    padding:10px;
    font-size:15px;font-style:normal;line-height:normal;font-weight:normal;color:white;
    background-image:url(../images/black_20.png);background-repeat:repeat;
}*/

/*#centermarkDiv
{
    padding:0;
    width:30px;height:30px;
    margin-left:-15px;
    margin-top:-15px;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index:10000;
    background-color:transparent;
    color:black;
    overflow:visible;
    border: 0px solid #000000;
    background-image:url(../images/crosshair.png);background-repeat:no-repeat;background-position:center;
}*/

.ga_themebanner
{
    margin-left:180px;
}

/*.ga_closewindow
{
    position:relative;
    float:right;
    right:2px;
    top:6px;
    width:21px;
    height:21px;
    cursor:pointer;
    border:0px solid white;
    padding:1px;
    background-image:url(../images/buttons/closedialog_off.png);background-repeat:no-repeat;
}*/

/*.ga_closewindow:hover
{
    background-image:url(../images/buttons/closedialog_on.png);background-repeat:no-repeat;
}*/

.ga_sidewindowtitle
{
    padding:8px;
    background-color:#aaaaaa;
    background-color:black;
    color:white;
    font-weight:bold;
    margin-bottom:0px;
}

.ga_sideWindowPos
{
    margin:3px;
}

.ga_sideWindow
{
    display:none;
}

.ga_sideWindowWidth
{
}

.ga_sideWindowWidth_on
{
    position:absolute;
    z-index:1100;
    width:30%;
    background-color:transparent;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
}

/*.ga_sideWindow_on
{
    position:absolute;
    padding:5px;
    background-color:transparent;
    border:0px solid white;
    font-style:normal;line-height:normal;font-weight:normal;color:black;
    background-image:url(../images/white_90.png);background-repeat:repeat;
    overflow:visible;
}*/

.ga_sideWindowRight_on
{
    right:0px;
}

.ga_sideWindow_on a
{
    color:black;
}

.ga_sideWindow_on .ga_sidewindowcontent
{
    padding:5px;
}

.ga_sideLargeWindow
{
    display:none;
}

/*.ga_sideLargeWindow_on
{
    position:absolute;
    z-index:1100;
    background-color:transparent;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    padding:5px;
    background-color:transparent;
    font-size:12px;font-style:normal;line-height:normal;font-weight:normal;color:black;
    display:block;
    background-image:url(../images/white_90.png);background-repeat:repeat;
    overflow:visible;
    *//*border:1px solid red;*//*
}*/

.ga_sideLargeWindow_on .ga_sidewindowcontent
{
    position:absolute;
    top:40px;
    bottom:0px;
    left:0px;
    right:0px;
    padding:5px;
    overflow:auto;
}

.ga_sideLargeWindow_on .ga_sidewindowcontentremoveoffset
{
    top:0 !important;
}

.ga_sideLargeWindow_on p
{
}

.ga_sideLargeWindow_on a
{
    font-size:12px;
    font-style:normal;
    line-height:normal;
    font-weight:normal;
    color:black;
}

.ga_isHidden_on
{
    display:none;
}

.ga_isHidden
{
    display:block;
}

.ga_layerbuttons
{
    cursor:pointer;
    font-size:9px !important;
}

/*.ga_quickswitchDiv
{
    position:absolute;
    z-index:1000;
    top:3px;
    left:50%;
    width:20%;
    background-color:transparent;
    background-image:url(../images/white_20.png);background-repeat:repeat;
    overflow:visible;
    padding:2px;
}*/

.ga_quickswitchbuttons
{
    cursor:pointer;
    font-size:15px !important;
    float:left;
}

.ga_splashbutton
{
    position:absolute;
    right:35px;
    top:9px;
    font-size:12px;
    cursor:pointer;
}

.ga_splashFadeMessage_on
{
    position:absolute;
    left:10px;
    bottom:10px;
    padding:3px;
    border:0px solid #c0c0c0;
    font-size:15px;
    color:red;
    background-color:white;
}

.ga_splashFadeMessage
{
    display:none;
}

#overviewRefMap {
    position:absolute;
    right:5px !important;
    bottom:60px;
}

.ga_layerLoader {
    position:absolute;
    z-index:1000;
    right:200px !important;
    bottom:20px;
    background-color:transparent;
    border:0 solid black;
}

/*.layerLoaderInner
{
    padding:3px;
    background-image:url(../images/white_20.png);background-repeat:repeat;
    background-color:transparent;
}*/

.ga_isVisibility_on
{
    visibility:hidden;
}

.ga_isDisplay_on
{
    display:none;
}

.ga_greenFont
{
    color:green;
}

.ga_redFont
{
    color:red;
}

.ga_blueFont
{
    color:blue;
}
.ga_splashpage
{
}

/*.ga_overviewbutton {
    position:absolute;
    width:200px;
    right:10px;
    bottom:-200px;
    z-index:2000;
    padding:3px;
    border:1px solid black;
    background-color:transparent;
    font-size:10px;
    font-style:normal;
    line-height:normal;
    font-weight:normal;
    color:black;
    display:block;
    cursor:pointer;
    background-image:url(../images/white_90.png);background-repeat:repeat;
}*/

/*.ga_overviewbutton_on
{
    position:absolute;
    width:174px;
    right:3px;
    bottom:15px;
    padding:3px;
    z-index:1000;
    border:2px solid black;
    background-color:transparent;
    font-size:10px;font-style:normal;line-height:normal;font-weight:normal;color:black;
    display:block;
    cursor:pointer;
    background-image:url(../images/white_90.png);background-repeat:repeat;
}

.ga_overviewbuttonimg
{
    float:right;
    width:15px;
    height:15px;
    background-image:url(../images/buttons/plus.png);
}

.ga_overviewbuttonimg_on
{
    float:right;
    width:15px;
    height:15px;
    background-image:url(../images/buttons/minus.png);
}*/

.ga_menutool
{
    padding-left:5px;
    padding-right:5px;
    height:30px;
    background-color:transparent;
    float:left;
    border-bottom: 3px solid transparent;
    font-size:13px;
    font-style:normal;
    line-height:normal;
    font-weight:normal;
    color:#999999;
}

.ga_menutool_on
{
    padding-left:5px;
    padding-right:5px;
    height:30px;
    background-color:transparent;
    float:left;
    border-bottom:3px solid #ffa500;
    font-size:13px;font-style:normal;line-height:normal;font-weight:normal;color:white;
    cursor:pointer;
}

.ga_menutool img
{
    width:30px;
    height:30px;
    vertical-align:middle;
    background-color:#999999;
}

.ga_menutool_on img
{
    width:30px;
    height:30px;
    vertical-align:middle;
    background-color:white;
}

.ga_menutool:hover
{
    color:white;
    cursor:pointer;
    text-decoration: underline;
}

.ga_menutool:hover img
{
    background-color:white;
}

.ga_maptooltext
{
    margin-top:4px;
}

.ga_maptool
{
    padding-left:5px;
    padding-right:5px;
    height:30px;
    background-color:transparent;
    float:right;
    border-bottom:3px solid transparent;
    font-size:13px;
    font-style:normal;
    line-height:normal;
    font-weight:normal;
    color:#999999;
    text-align:center;
}

.ga_maptool_on
{
    padding-left:5px;
    padding-right:5px;
    height:30px;
    background-color:transparent;
    float:right;
    border-bottom:3px solid #ffa500;
    font-size:13px;font-style:normal;line-height:normal;font-weight:normal;color:white;
    cursor:pointer;
    text-align:center;
}

.ga_maptool img
{
    width:30px;
    height:30px;
    vertical-align:middle;
    background-color:#999999;
}

.ga_maptool_on img
{
    width:30px;
    height:30px;
    vertical-align:middle;
    background-color:white;
}

.ga_maptool input
{
    margin:0px;
    margin-top:4px;
    height:20px;
    width:130px;
    font-size:10px;font-style:normal;line-height:normal;font-weight:normal;color:#505153;
    border:0px;
}

.ga_maptool:hover
{
    color:white !important;
    cursor:pointer;
    text-decoration: underline;
}

.ga_maptool:hover img
{
    background-color:white;
}

.ga_maptoolsmall
{
    font-size:10px ! important;
    margin-top:-2px  ! important;
}

.ga_searchbutton
{
    left:-1px;
    margin:0px ! important;
    width:22px ! important;
    height:22px ! important;
    margin-top:0px  ! important;
}

.ga_floatright
{
    float:right;
}

.ga_infokeytext
{
    margin-top:1px;
    padding:3px;
    color:black;
    font-size:10px;
}

.ga_infokeytextorange
{
    margin-top:1px;
    padding:3px;
    color:#ffa500;
    font-size:10px;
}

.ga_infokeytextblack
{
    margin-top:1px;
    padding:3px;
    color:black;
    font-size:10px;
}

.ga_layertitle
{
    margin-left:5px;
    margin-top:3px;
    padding:2px;
}

.ga_layerbutton
{
    margin-bottom:0px;
    margin-left:10px;
    margin-right:10px;
    padding:0px;
    background-color:transparent;
    color:black;
    font-size:12px;
    border:0px solid grey;
}

.ga_layerbutton label
{
    height:25px;
    cursor:pointer;
}

.ga_layerbutton input
{
    cursor:pointer;
}

.ga_sidemapswitch
{
    margin-bottom:0px;
    padding:0px;
    padding-top:0px;
    padding-left:5px;
    padding-right:10px;
    background-color:transparent;
    color:black;
    height:25px;
    font-size:12px;
    clear:both;
    background-image:url(../images/grey.png);background-repeat:repeat-y;background-position:right;
    border-top:1px solid transparent;
    border-bottom:1px solid #f0f0f0;
}

.ga_sidemapswitch:hover
{
    background-color:white;
    cursor:pointer;
    text-decoration: underline;
}

.ga_sidemapswitch_on
{
    margin-bottom:0px;
    padding:0px;
    padding-top:0px;
    padding-left:5px;
    padding-right:10px;
    background-color:transparent;
    color:black;
    height:25px;
    font-size:12px;
    background-image:url(../images/orange.png);background-repeat:repeat-y;background-position:right;
    border-top:1px solid #f0f0f0;
    border-bottom:1px solid #f0f0f0;
    clear:both;
}

.ga_sidemapswitch_on:hover
{
    background-color:white;
    cursor:pointer;
    text-decoration: underline;
}

.ga_spinner
{
    padding:2px;
}

.ga_crestheaderimg
{
    position:absolute;
    top:0px;
    left:0px;
    z-index:200;
    cursor:pointer;
}

.ga_styleclear
{
    clear:both;
}

.ga_box
{
    padding:2px;
    border: 1px solid #c0c0c0;
}
.ga_link
{
    text-decoration: underline;
    cursor:pointer;
}

.ga_grouptitle
{
    margin-bottom:3px;
}

.ga_searchbox
{
    border:0px;
    font-size:10px;font-style:normal;line-height:normal;font-weight:normal;color:#ffffff;
}

.ga_underscore
{
    text-decoration:underline;
}

.roundall
{
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

.shadow
{
    box-shadow: 3px 3px 8px #323834;
    -webkit-box-shadow: 3px 3px 8px #323834;
    -moz-box-shadow: 3px 3px 8px #323834;
    -o-box-shadow: 3px 3px 8px #323834;
}

.smallshadow
{
    box-shadow: 1px 1px 2px #323834;
    -webkit-box-shadow: 1px 1px 2px #323834;
    -moz-box-shadow: 1px 1px 2px #323834;
    -o-box-shadow: 1px 1px 2px #323834;
}

.ga_texttitle
{
    font-size:15px ! important;
    font-weight:bold;
    color:#165b71;
    margin: 0 0 3px;
}

.ga_popupTitle
{
    font-size:15px ! important;
    font-weight:bold;
    color:#165b71;
    margin-bottom:5px ! important;
}

.ga_popupAttribute
{
    font-weight:bold;
    text-align:left;
    width:50%;
}

.ga_popupKey
{
    text-align:left;
    font-weight:normal;
    width:50%;
}

.ga_popupTable
{
    border:0px solid black ! important;
}

.ga_popupTable td
{
    padding:2px;
}

.ga_searchPopup
{
    width:180px;
    height:80px;
    overflow:auto;
    font: normal 11px "Verdana", Helvetica, Arial, sans-serif  ! important;
    color: black  ! important;
}

.ga_searchPopup table
{
    font: normal 11px "Verdana", Helvetica, Arial, sans-serif  ! important;
    color: black  ! important;
}

.ga_identifyPopupSmall
{
    width:350px;
    height:200px;
    overflow:auto;
    border:0px solid black;
    font: normal 11px "Verdana", Helvetica, Arial, sans-serif  ! important;
    color: black  ! important;
}

.ga_identifyPopupLarge
{
    width:450px;
    height:350px;
    overflow:auto;
    border:0px solid black;
    font: normal 11px "Verdana", Helvetica, Arial, sans-serif  ! important;
    color: black  ! important;
}


.ga_identifyPopup table
{
    font: normal 11px "Verdana", Helvetica, Arial, sans-serif  ! important;
    color: black  ! important;
}

.ga_identifyLayerTitle
{
    width:95% ! important;
    margin-top:3px ! important;
    margin-bottom:1px ! important;
    font-weight:bold;
    padding:0px;
    border:1px solid transparent;
}

.ga_identifyAttribute
{
    text-align:left;
}

.ga_identifyTable
{
    padding:2px;
    width:95% ! important;
    margin-bottom:1px ! important;
    border:1px solid #d5d5d5;
    border-spacing:0;
    border-collapse:collapse;
    text-align:left;
}

.ga_identifyCloser
{
    cursor:pointer;
    background-color: #d5d5d5;
    text-align:left;
}

.ga_identifyCloserImg
{
    text-align:center ! important;
}

.ga_identifyCloser:hover
{
    background-color: green;
}

.ga_identifyTable th
{
    padding:2px;
}

.ga_identifyTable td
{
    padding:2px;
}
.ga_headerPane #nav {
    clear: right;
    display: inline;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: auto;
    z-index: 10;
}
.ga_headerPane #nav li {
    background-image: url(../images/ga.header.crumbs.png);
    background-position: right center;
    background-repeat: no-repeat;
    display: inline;
    float: left;
    font: 1em/1.2 Helvetica,Arial,Verdana,sans-serif;
    margin: 0;
    padding: 0 18px 0 0;
}
.ga_headerPane #nav li a {
    color: #FFFFFF;
    display: block;
    float: left;
    height: 1%;
    margin: 0;
    padding: 0px 0px !important;
    background-image: url(../images/black_20.png);background-repeat:repeat;
}

.ga_indent
{
    margin-left:10px;
}

.ga_roundbutton
{
    /*background-image: url(../images/white_20.png);background-position:top;background-size:20px 20px;background-repeat:repeat-x;*/
    padding:10px;
    background-color:#427b8c;
    font-size:18px;
    color: white;
    text-align:center;
    cursor:pointer;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

.ga_roundbutton:hover
{
    background-color:#165b71;
}

.ga_roundbutton a
{
    font-size:15px;
    color: white;
    text-decoration:none;
}


/* web list */
.ga_maplinktitle
{
    padding:0px;
    color:#165b71;
    font-weight:normal;
    text-align:left;
    margin-bottom:5px;
    font-size:20px;
}

.ga_maplinkblurb
{
    width:50%;
}

.ga_specialList
{
    margin-left:0px;
    margin-top:10px;
    margin-bottom:20px;
}

.ga_specialList img
{
    margin-left:8px;
    margin-right:3px;
}

.ga_specialList span
{
    font-weight:normal;
}

.ga_specialList a
{
    font-size:15px;
    text-decoration:none;
    color:#165b71;
}

.ga_listBox
{
    border:1px solid #007889;
    background-color:#add1df;
}

#ga_listMapLinks
{
    margin-bottom: 20px;
}

#ga_listMapLinks:after{
    clear: both;
    content: "";
    display: block;
}

#ga_listRemainingMapLinks:after{
    clear: both;
    content: "";
    display: block;
}

.ga_linktitle
{
    padding:0;
    font-weight:normal;
    text-align:left;
    margin-bottom:5px;
    font-size:15px;
}

.ga_catagoryitem
{
    padding:3px;
    font-weight:normal;
    text-align:left;
    margin-left:15px;
    margin-bottom:5px;
    font-size:15px;
    cursor:pointer;
}

.ga_catagoryitem_on
{
    padding:3px;
    text-align:left;
    margin-left:15px;
    margin-bottom:5px;
    font-size:15px;
    color:white;
    font-weight:bold;
    background-color: #007889;
    cursor:pointer;
}

.ga_catagorylist
{
    background-color: #cbdbe0;
    padding-top:10px;
    padding-bottom:20px;
}

.ga_catagorytitle
{
    padding:0;
    color:#165b71;
    font-weight:normal;
    text-align:left;
    margin-left:5px;
    margin-bottom:5px;
    font-size:15px;
}

.ga_mosaic
{
    position:relative;
    width: 250px;
    margin:5px;
    background-color:#cbdbe0;
    border:1px solid #007889;
    cursor:pointer;
}

.ga_mosaicimage
{
    width:250px;
    height:150px;
}

.ga_mosaicblurb
{
    padding:8px;
}

.ga_mosaictitle
{
    color:white;
    font-weight:normal;
    text-align:left;
    padding:5px;
    font-size:15px;
    font-weight:normal;
    background-color: #007889;
}

.ga_servicelist
{
    padding:0px;
    margin:10px;
}

.ga_servicelist p
{
    margin-bottom:5px;
}

.ga_servicelist a
{
    margin-left:10px;
}

.ga_listTitle
{

}

.path-frontpage .front-page-body {
    margin-top: 160px;
}
