{#
/**
 * @file
 * Default theme implementation for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 *
 * @ingroup themeable
 */
#}
<div class="workflow-wizard-header">
  <div class="container1">
    <h1> Workflow Wizard </h1>
  </div>
  <div class="container2">
    <p>
      Saving <b>{{ drupal_field('field_simple_title', 'node', element['#cache']['tags'][1][5:])|without('#theme')}}</b>...
    </p>
  </div>
</div>

<div class="progress-tracker-group">
<ul class="progress-tracker progress-tracker--text progress-tracker--center">
          <li class="progress-step is-complete">
            <a href="/node/{{ element['#cache']['tags'][1][5:]}}/edit/workflow_draft">
              <div class="progress-marker" data-text="1"></div>
            </a>
            <div class="progress-text">
              <h4 class="progress-title">Draft</h4>
	      Action required from: {{ drupal_view('node_action_required_from', 'block_1', element['#cache']['tags'][1][5:]) }} 
            </div>
          </li>

          <li class="progress-step is-complete">
            <a href="/node/{{ element['#cache']['tags'][1][5:]}}/edit/workflow_lead">
              <div class="progress-marker" data-text="2"></div>
            </a>
            <div class="progress-text">
              <h4 class="progress-title">Project Lead Approval</h4>
	      Action required from: {{ drupal_view('node_action_required_from', 'block_2', element['#cache']['tags'][1][5:]) }}
            </div>
          </li>

          <li class="progress-step is-complete">
            <a href="/node/{{ element['#cache']['tags'][1][5:]}}/edit/workflow_audit">
              <div class="progress-marker" data-text="3"></div>
            </a>
            <div class="progress-text">
              <h4 class="progress-title">Review</h4>
	      Action required from: <a href="/user/280/contact"> <p> Pham Diana </p> </a>
            </div>
          </li>

          <li class="progress-step is-active">
            <div class="progress-marker" data-text="4"></div>
            <div class="progress-text">
              <h4 class="progress-title">Branch Head Approval</h4>
	      Action required from: {{ drupal_view('node_action_required_from', 'block_4', element['#cache']['tags'][1][5:]) }}
            </div>
          </li>

          <li class="progress-step">
            <a href="/node/{{ element['#cache']['tags'][1][5:]}}/edit/workflow_publication">
              <div class="progress-marker" data-text="5"></div>
            </a>
            <div class="progress-text">
              <h4 class="progress-title">Publication & Delivery Preparation</h4>
	      Action required from: <a href="/user/139/contact"> <p>CMI Administrator</p> </a>           
            </div>
          </li>

          <li class="progress-step">
            <a href="/node/{{ element['#cache']['tags'][1][5:]}}/edit/workflow_published">
              <div class="progress-marker" data-text="6"></div>
            </a>
            <div class="progress-text">
              <h4 class="progress-title">Published</h4>
            </div>
          </li>
        </ul>
</div>

<div class="ga-tooltip"> What is this Page?
  <span class="ga-tooltiptext">This page is the new Workflow-Wizard to help guide you through the process of starting a record and progressing it all the way to published. <br/>
 This screen will present you with information you need to know about what is currently required and what is needed to progress into the next state. <br/>
 This page is a mandatory step for completing all edits on this products. Once done on this page, press save to complete your edits.<br/>
 If the green add button is displayed below, be sure to click it to view tracked items.
  </span>
</div>

<div class ="workflow-wizard-form content-col-split">
    <div class="content col-sm-6">
        <form{{ attributes }}>
            {{ children }}
        </form>
    </div>
    <div class="col-sm-6 revision-view">
        <h2> Revisions </h2>
        {{ drupal_view('revision_view', 'page_1', element['#cache']['tags'][1][5:])}}
    </div>
</div>
